apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-fluent-bit-oauth
data:
  fluent-bit-config-oauth.conf: |+
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_file parsers.conf

    [INPUT]
        Name         tail
        Path         /app/logs/server/oauth/${POD_NAME}.log
        Tag          oauth_json_logs
        Inotify_Watcher     false

    [FILTER]
        Name         parser
        Match        *_json_logs
        Key_Name     log
        Parser       json

    [OUTPUT]
        Name          http
        Match         *
        Host          logstash-center.cldatu.groupt.fbt.com
        uri           /public-app-log
        Port          443
        Format        json
        tls           On
        tls.verify    Off


