apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-ixtein-admin-config
data:
  application-sit.yml: |+
    ############################################
    #  Springframework settings
    ############################################
    spring:
      jmx:
        default-domain: admin
      jpa:
        properties:
          eclipselink:
            logging: 
              level: FINE
      datasource:
        url: jdbc:oracle:thin:@//172.16.244.249:5211/TNEBK
        driverClassName: oracle.jdbc.OracleDriver
        username: IXTEINSIT
        password: ${DATASOURCE_PASSWORD}
        testWhileIdle: true
        minimum-idle: 2
        maximum-pool-size: 5
        connection-timeout: 10000
        idle-timeout: 60000
        max-lifetime: 180000
        keepalive-time: 30000
        data-source-properties:
          oracle.jdbc.defaultConnectionValidation: LOCAL
          oracle.jdbc.implicitStatementCacheSize: 20
      servlet:
        multipart:
          enabled: true
          max-file-size: 50MB
          max-request-size: 50MB
    cron:
      versionData: "0 10 3 * * *"
    management:
      endpoint:
        info:
          enabled: true
        env:
          enabled: true
        health:
          enabled: true
          show-details: ALWAYS
          group:
            readiness:
              include: readinessState
            liveness:
              include: livenessState
        prometheus:
          enabled: true
      health:
        jms:
          enabled: false
        readinessstate:
          enabled: true
        livenessstate:
          enabled: true
      endpoints:
        web:
          exposure:
            include:
              - prometheus
              - env
              - metrics
              - info
              - health
    jasypt:
      encryptor:
        privateKeyFormat: PEM
        privateKeyString: ${JASYPT_PRIVATE_KEY}
  logback-spring.xml: |+
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration debug="true">
      <springProperty scope="context" name="appName" source="spring.application.name"/>
      <property name="LOG_ROOT" value="/app/logs" />
      <property name="PROJECT_NAME" value="aibank"/>
      <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern><![CDATA[%date{HH:mm:ss.SSS} [T:%X{traceId:-} S:%X{spanId:-}] [%X{trackingid}] [%thread] %-5level %logger{15} %msg\n]]></pattern>
        </encoder>
      </appender>
      <appender name="LOG_APPENDER"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/ixtein/${POD_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${LOG_ROOT}/archives/ixtein/${POD_NAME}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
          <!-- backup for 3 months -->
          <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
          <fieldNames>
            <timestamp>@timestamp</timestamp>
            <stackTrace>exception</stackTrace>
          </fieldNames>
          <customFields>{"podName":"${POD_NAME}", "project.name":"${PROJECT_NAME}", "project.application.name":"${appName}","project.country":"tw","project.logtype":"ixtein-admin","tags":["public","ixtein-admin", "sit"]}</customFields>
        </encoder>
      </appender>
      <logger name="org.apache.http" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="com.ibm.tw" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="springfox" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="io.lettuce" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="io.netty" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger name="PERFORMANCE_LOGGER" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </logger>
      <logger
        name="org.springframework.jdbc.core.StatementCreatorUtils"
        level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
      </logger>
      <logger name="org.springframework.jdbc.core.JdbcTemplate"
        level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
      </logger>
    	<logger name="net.ttddyy"
    		level="INFO" additivity="false">
    		<appender-ref ref="STDOUT" />
    		<appender-ref ref="BIZ_LOG_APPENDER" />
    	</logger>
      <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_APPENDER" />
      </root>
    </configuration>
  fluent-bit-config-ixtein.conf: |+
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    trace
        Parsers_file parsers.conf

    [INPUT]
        Name         tail
        Path         /app/logs/ixtein/${POD_NAME}.log
        Tag          push_json_logs
        Buffer_Chunk_Size   100k
        Buffer_Max_Size     5MB
        Skip_Long_Lines     Off
        Inotify_Watcher     false

    [FILTER]
        Name         parser
        Match        *_json_logs
        Key_Name     log
        Parser       json

    [OUTPUT]
        Name          http
        Match         *
        Host          logstash-center.cldatu.groupt.fbt.com
        uri           /public-app-log
        Port          443
        Format        json
        tls           On
        tls.verify    Off

