<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<property name="LOG_ROOT" value="/app/logs" />
	<property name="PROJECT_NAME" value="aibank"/>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [T:%X{traceId:-} S:%X{spanId:-}] [%thread] %-5level %logger{15} %msg\n]]></pattern>
		</encoder>
	</appender>
	<appender name="SRV_LOG_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/server/${appName}/${appName}-${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/archives/server/${appName}/${appName}-${HOSTNAME}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- backup for 3 months -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<stackTrace>exception</stackTrace>
				<includeMdcKeyName>sessionid</includeMdcKeyName>
				<includeMdcKeyName>channelid</includeMdcKeyName>
				<includeMdcKeyName>trackingid</includeMdcKeyName>
				<includeMdcKeyName>clientip</includeMdcKeyName>
				<includeMdcKeyName>deviceid</includeMdcKeyName>
				<includeMdcKeyName>custid</includeMdcKeyName>
				<includeMdcKeyName>springinstanceid</includeMdcKeyName>
				<includeMdcKeyName>pageid</includeMdcKeyName>
				<includeMdcKeyName>locale</includeMdcKeyName>
				<includeMdcKeyName>userid</includeMdcKeyName>
				<includeMdcKeyName>httpMethod</includeMdcKeyName>
				<includeMdcKeyName>requestURI</includeMdcKeyName>
				<includeMdcKeyName>httpStatus</includeMdcKeyName>
			</fieldNames>
			<customFields>{"project.name":"${PROJECT_NAME}", "project.application.name":"${appName}","tags":["public","${HOSTNAME}"]}</customFields>
		</encoder>
	</appender>

	<logger name="org.springframework.security" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SRV_LOG_APPENDER" />
	</logger>
	<logger name="springfox" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SRV_LOG_APPENDER" />
	</logger>
	<logger name="io.lettuce" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SRV_LOG_APPENDER" />
	</logger>
	<logger name="io.netty" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SRV_LOG_APPENDER" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SRV_LOG_APPENDER" />
	</root>
</configuration>
