apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-nginx-admin-config
data:
  default.conf: |+
    server {
            listen  8080;
            server_name _;
            root    /usr/share/nginx/html;
            add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
            add_header Content-Security-Policy "default-src 'self'; script-src 'self' ; connect-src 'self' ; img-src 'self' data: blob: ; frame-src 'self' data: blob:; style-src 'self' 'unsafe-inline' ; frame-ancestors 'self'" always;
            add_header X-Frame-Options "DENY" always;
            add_header X-Content-Type-Options "nosniff" always;
            add_header Referrer-Policy "strict-origin" always;
            add_header Feature-Policy "microphone 'none'; geolocation 'none'; camera 'none'" always;
            add_header X-XSS-Protection "1; mode=block";
            add_header Cache-Control private,no-store;
            add_header Permissions-Policy "camera=(), fullscreen=(), geolocation=(), microphone=(), payment=()";
            location ~ /index.html|.*\.json$ {
              expires -1;
              add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            }
            location ~ .*\.css$|.*\.js$ {
              add_header Cache-Control 'max-age=31449600'; # one year
            }
            location / {
                try_files $uri $uri/ /index.html;
                autoindex off;
                add_header Cache-Control 'max-age=86400'; # one day
            }
    }
  nginx.conf: |+
    user  nginx;
    worker_processes 2;

    error_log  /var/log/nginx/error.log notice;
    pid        /var/run/nginx.pid;

    events {
        worker_connections  128;
    }


    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;

        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        access_log  /var/log/nginx/access.log  main;

        sendfile        on;
        #tcp_nopush     on;

        keepalive_timeout  65;
        client_max_body_size 10m;
        #gzip  on;

        include /etc/nginx/conf.d/*.conf;
    }
