<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15} %msg%n]]></pattern>
		</encoder>
	</appender>	
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.quartz" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.ibm.tw" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.ftb.aibank" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>