##################################################################
#  Spring
##################################################################
spring:
  jackson:
    date-time-format: yyyy-MM-dd'T'HH:mm:ss.SSS
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSS
    date-time: HH:mm:ss
  session:
    store-type: redis
  redis:
    max-retries: 5
    retry-interval: 3000
    jedis:
      pool:
        max-active: 50
        max-idle: 10
        min-idle: 10
        max-wait: -1
    timeout: 1000
    host: ${REDIS_IP:127.0.0.1}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:}
  jpa:
    b2e:
      open-in-view: false
      show-sql: true
      format-sql: true
      eclipselink:
        ddl-generation: none
        ddl-generation.output-mode: sql-script
        logging:
          level: FINE
          parameters: true
    aibank:
      open-in-view: false
      show-sql: true
      format-sql: true
      eclipselink:
        ddl-generation: none
        ddl-generation.output-mode: sql-script
        logging:
          level: FINE
          parameters: true
    peoplesoft:
      open-in-view: false
      show-sql: true
      format-sql: true
      eclipselink:
        ddl-generation: none
        ddl-generation.output-mode: sql-script
        logging:
          level: FINE
          parameters: true
  security:
    oauth2:
      oauth-enabled: false
      client:
        registration:
          keycloak:
            authorization-grant-type: client_credentials
            client-id: tfb-b2e
            client-secret: tfb-b2esecret
          biz: 
            client-id: biz
            client-secret: bizsecret
            authorization-grant-type: client_credentials
            scope: biz
            provider: biz
        provider:
          keycloak:
            token-uri: http://127.0.0.1:9999/oauth/token
          biz:
            token-uri: http://oauth.tpebnknanot.cldatu1.groupt.fbt.com/oauth2/token
      resourceserver:
        jwt:
          key-value: classpath:kv.pub
        
##################################################################
#  DataSource
##################################################################
datasource:
  b2e: #(Master)
    continue-on-error: true
    initializationFailTimeout: -1
    driver-class-name: oracle.jdbc.OracleDriver
    jdbc-url: jdbc:oracle:thin:@172.16.241.39:5211:TEBK
    username: DBuserNEB
    password: 1qaz@WSX
    sql-script-encoding: UTF-8
    testWhileIdle: true
    minimum-idle: 1
    maximum-pool-size: 5
    connection-timeout: 0
    idle-timeout: 0
    max-lifetime: 0
    auto-commit: true
    poolName: HikariPool-B2E
  aibank: #(aibank-mysql)
    continue-on-error: true
    initializationFailTimeout: -1
    driver-class-name: com.mysql.jdbc.Driver
    jdbc-url: jdbc:mysql://10.11.4.228:6033/aibank_dev?useSSL=false
#    jdbc-url: jdbc:mysql://127.0.0.1:6033/aibank_dev?useSSL=false
    username: AIBnkUser
    password: Fubon#123
    sql-script-encoding: UTF-8
    testWhileIdle: true
    minimum-idle: 1
    maximum-pool-size: 2
    connection-timeout: 0
    idle-timeout: 0
    max-lifetime: 0
    auto-commit: true
    poolName: HikariPool-Aibank
  peoplesoft: #(peoplesoft)
    continue-on-error: false
    initializationFailTimeout: -1
    driver-class-name: oracle.jdbc.OracleDriver
    jdbc-url: jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.241.217)(PORT=5211))(ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.243.30)(PORT=5211))(LOAD_BALANCE = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME  = TWMSC)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES =180)(DELAY = 5))))
    username: PEOPSOFT
    password: 1qaz@WSX
    sql-script-encoding: UTF-8
    testWhileIdle: true
    minimum-idle: 1
    maximum-pool-size: 2
    connection-timeout: 0
    idle-timeout: 0
    max-lifetime: 0
    auto-commit: true
    poolName: HikariPool-Peoplesoft
##################################################################
#  Logging
##################################################################
logging:
  level:
    org.springframework: INFO
    com.zaxxer.hikari: WARN
  config: classpath:logback/logback-spring.xml

##################################################################
#  FeignClient
# [elk-data-service-key] => ELK API Request key
##################################################################


aibank:
  common:
    api-base-uri: /api
    api-key:
      elk-data-service-key: ApiKey M2kyV0g0d0JrNl9vTFBYeWsySUc6c3BGZTd5R1dUWGk5YzFjZ3NHalBWQQ==
    feign:
# feign client 各服務的 url, 開發環境需要指定
#      service-aibank-batch-url: http://localhost:9081
# 用以下設定可以進 SIT
# 在 hosts 中設定 10.11.2.40  gateway.tpebnknanot.cldatu1.groupt.fbt.com
      service-aibank-batch-url: http://batch.tpebnknanot.cldatu1.groupt.fbt.com
      service-aibank-system-config-url: http://gateway.tpebnknanot.cldatu1.groupt.fbt.com/svc-biz-system-config
      service-aibank-security-url: http://gateway.tpebnknanot.cldatu1.groupt.fbt.com/svc-biz-security
      service-aibank-notification-url: http://gateway.tpebnknanot.cldatu1.groupt.fbt.com/svc-biz-notification
#ELK API 測試環境網址=>「10.11.2.41」，本機開發會連不到，所以要藉由tunnel
#      elk-data-service-url: https://10.11.2.41:9200
      elk-data-service-url: https://localhost:9200

# oauth server url
    oauth2:
# 在 hosts 中設定 10.11.2.40  oauth.tpebnknanot.cldatu1.groupt.fbt.com
      access-token-uri: http://oauth.tpebnknanot.cldatu1.groupt.fbt.com/oauth2/token
      client-id: biz
      client-secret: bizsecret
  crypto:
    seckey:
      providers:
        com.ibm.tw.gib.biz.util.crypt.SecretKeyProviderFactory: com.ibm.tw.gib.biz.util.crypt.DummySecretKeyProvider
        com.ibm.tw.gib.biz.util.crypt.DBSecretKeyProvider: com.ibm.tw.gib.biz.util.crypt.DBSecretKeyProvider
        