<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<property name="LOG_ROOT" value="/app/logs" />
	<property name="PROJECT_NAME" value="aibank"/>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} [T:%X{traceId:-} S:%X{spanId:-}] [%X{trackingid}] [%thread] %-5level %logger{15} %msg\n]]></pattern>
		</encoder>
	</appender>
	<appender name="B2C_ACCESS_LOG_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/access/b2cAccessLog-${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/archives/access/b2cAccessLog-${HOSTNAME}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
		    <providers>
				<timestamp/>
				<mdc/>
		        <pattern>
		            <pattern>
		                {
		                	"project.name":"${PROJECT_NAME}",
		                	"project.application.name":"${appName}",
		                	"tags":["public","b2cAccessLog"],
		                	"data": "#tryJson{%message}"
		                }
		            </pattern>
		        </pattern>
		    </providers>
		</encoder>
	</appender>
	<appender name="CHL_LOG_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/chl/${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/archives/chl/${HOSTNAME}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<stackTrace>exception</stackTrace>
			</fieldNames>
			<customFields>{"project.name":"${PROJECT_NAME}", "project.application.name":"${appName}","tags":["public","chl"]}</customFields>
		</encoder>
	</appender>
	<logger name="org.apache.http" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="com.ibm.tw" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="springfox" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="io.lettuce" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="io.netty" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="PERFORMANCE_LOGGER" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="CHL_RQRS_LOGGER" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CHL_LOG_APPENDER" />
	</logger>
	<logger name="B2C_ACCESS_LOG" level="DEBUG" additivity="false">
		<appender-ref ref="B2C_ACCESS_LOG_APPENDER" />
	</logger>
	<root level="DEBUG" >
		<appender-ref ref="CHL_LOG_APPENDER" />
	</root>
</configuration>